<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="doipr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <doipr.Properties.Settings>
            <setting name="queryInterval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="currentAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="domain" serializeAs="String">
                <value />
            </setting>
            <setting name="recordName" serializeAs="String">
                <value />
            </setting>
            <setting name="recordId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="queryLast" serializeAs="String">
                <value />
            </setting>
        </doipr.Properties.Settings>
    </applicationSettings>
</configuration>